.executable-fragment {
  font-family: PragmataPro, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
                DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
                monospace, serif !important;
  font-size: 1.5rem !important;
  text-align: left !important;
}

.compiler-info {
  font-size: 1rem !important;
}

.CodeMirror pre {
  box-shadow: none !important;
  line-height: 30px !important;
}

.CodeMirror {
  background: rgba(255, 255, 255, 0.3) !important;
}

.CodeMirror-gutters {
  background: rgba(255, 255, 255, 0) !important;
}

.CodeMirror-linebackground.unmodifiable-line {
  background: rgba(255, 255, 255, 0) !important;
  /* background: rgba(200, 200, 200, 0.3) !important; */
}

.CodeMirror-lines {
  margin: 12px 0 !important;
  padding: 0 !important;
}

.code-output {
  overflow: auto !important;
  padding-left: 10px !important;
  padding-top: 15px !important;
}

.CodeMirror-scroll {
  margin-bottom: -30px !important;
  margin-right: -30px !important;
  padding-bottom: 30px !important;
}

.CodeMirror-sizer {
  min-height: 0px !important;
}

.run-button {
  filter: saturate(0) !important;
}

.cm-meta {
  color: inherit !important;
}

.cm-keyword {
  color: inherit !important;
}

.cm-type {
  color: inherit !important;
}

.cm-def {
  color: inherit !important;
}

.cm-string {
  color: inherit !important;
}

.cm-number {
  color: inherit !important;
}

.cm-atom {
  color: inherit !important;
}
