/**
 * Arrow clear theme for reveal.js.
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/pragmata/pragmata.css);
@import url(../../lib/font/poppins/poppins.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #eee;

$mainColor: #1A1C1C;
$headingColor: #1A1C1C;

$mainFontSize: 6vmin;
$mainFont: "PragmataPro", Helvetica, sans-serif;
$headingFont: "PragmataPro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #666;
$linkColorHover: lighten( $linkColor, 15%);
$selectionBackgroundColor: lighten( $linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

.reveal {
    table {
        font-size: 70%;
    }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    h1, h2, h3, h4, h5, h6 {
        color: $headingColor;
    }
}

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal {
    ul {

        list-style-type: none;
         list-style-image: url('../../../css/images/arrow-bullet.svg');

        li {
            padding-left: 8px;
            margin-bottom: 16px;
        }
    }
}

.reveal section {
  // Comment-uncomment the following 3 lines to have a centered content
  // slides effect or not
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start!important;
  //
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	height: 100%;
  &:hover {
  	overflow-y: auto !important;
  }
}
