/**
 * Arrow clear theme for reveal.js.
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";

// ---------------------------------------------
// Include theme-specific fonts
//@import url(../../lib/font/open-sans/open-sans.css);
@import url(../../lib/font/iosevka/iosevka.css);
@import url(../../lib/font/open-sans/open-sans.css);


// Background of the presentation
$backgroundColor: #fff;

// Primary/body text
$mainFont: "Open Sans",
sans-serif;
$mainFontSize: 40px;
$mainColor: #12171A;

$blockMargin: 40px;

$mainFontSize: 5vmin;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Iosevka Web",
sans-serif;
$headingColor: #12171A;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;

$codeFont: "Iosevka Web",
sans-serif;


$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Links and actions
$linkColor: #D31907;
$linkColorHover: lighten($linkColor, 5%);

// Text selection
$selectionBackgroundColor: $linkColor;
$selectionColor: #fff;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


/*********************************************
 * HEADERS
 *********************************************/


.reveal {
    font-family: $mainFont;
    font-weight: 400;

    table {
        margin: 0;
    }
}




.reveal {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $headingColor;
    }
}


.reveal {
    section {
        img {
            margin: 15px 0px;
            background: none;
            border: none;
            box-shadow: none;
        }
    }
}

.reveal {
    ul {
        list-style-type: none;
        list-style-image: url('../../../css/images/arrow-bullet.svg');

        li {
            padding-left: 8px;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    table {

        th,
        td {
            border-bottom: 1px solid #ccc;

            strong {
                font-family: $codeFont;
                font-weight: 500;
            }
        }
    }

    code {
        font-family: $codeFont;
    }
}

video {
    &:focus {
        outline: none;
    }
}

/*********************************************
 * IMAGES
 *********************************************/


.reveal section {
    // Comment-uncomment the following 3 lines to have a centered content
    // slides effect or not
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 100%;

    &:hover {
        overflow-y: auto !important;
    }

}

.reveal {
    .long-list {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
}


/*********************************************
 * highlight
 *********************************************/

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.reveal {
    
    pre {
        box-shadow: none;
    }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: $mainColor;
  background: #F5F7F8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #D31907;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: rgba(#D31907, 0.2);
}

.hljs-addition {
  background: rgba(#4CAF50, 0.2);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
    
    }
